.nav-lock-scroll {
	overflow: hidden;
}

.nav {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 900;
	overflow-x: hidden;
	overflow-y: auto;
}

.nav ul {
	display: block;
	position: relative;
	zoom: 1;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav a,
.nav a:hover,
.nav a:active,
.nav a:visited {
	/*display: block;*/
	position: relative;
    line-height: 15px;
}

@media only screen and (min-width: 960px) {

    .nav {
    	display: block;
    	position: relative;
    	bottom: auto;
    	overflow: visible;
    }
    
    .nav li {
    	/*position: relative;*/
    	white-space: nowrap;
    }
    
    .nav > ul > li {
    	display: inline-block;
        border-top:2px solid transparent;
        margin-top: -2px;
    }
    
    .nav > ul > li:hover{border-top:2px solid #ff0000; margin-top: -2px;}
    
    .nav ul {
    	display: block;
    }
    
    .nav ul ul {
    	display: none;
    	position: absolute;
    	top: 100%;
    	left: 0;
    	z-index: 901;
    }
    
    .nav ul ul ul {
    	top: 5px;
    	left: 95%;
    	z-index: 902;
    }
    
    .nav ul ul ul ul {
    	z-index: 903;
    }
    
    .nav ul ul ul ul ul {
    	z-index: 904;
    }
    
    .nav ul ul li.nav-left > ul {
    	left: auto;
    	right: 95%;
    }
    
    .nav-no-js .nav li:hover > ul {
    	display: block;
    }

}

@media only screen and (max-width: 959px) {

    .nav-no-js .nav-button:hover + .nav,
    .nav-no-js .nav:hover,
    .nav-no-js .nav-button:hover + .nav + .nav-close,
    .nav-no-js .nav:hover + .nav-close {
    	display: block;
    }
    
    
    .web-menu ul li ul li,
    .web-menu ul li
    {
        min-height: 30px;
        line-height: 30px;        
    }
    
    .web-menu ul li ul,
    .web-menu .nav .nav-submenu > ul
    {background-color: #62d5f6; margin-left: 0;}
    
    .web-menu .nav ul ul li a,
    {    	
    	color: #010101!important;
    	text-decoration: none;
        padding-left: 10px;
    }
}

