
@font-face {
  font-family: 'UTMCookies';
  src: url('UTMCookies.eot?#iefix') format('embedded-opentype'),  url('UTMCookies.woff') format('woff'), url('UTMCookies.ttf')  format('truetype'), url('UTMCookies.svg#UTMCookies') format('svg');
  font-weight: normal;
  font-style: normal;
}
